<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản lý chuỗi cửa hàng cà phê"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActicity"
            android:exported="false" />
        <activity
            android:name=".Plugins.CheckInternet"
            android:exported="false" />
        <activity
            android:name=".Plugins.PhongtoAnh"
            android:exported="false" />
        <activity
            android:name=".Plugins.chupanh"
            android:exported="false" />
        <activity android:name=".Plugins.SendEmail" />
        <activity
            android:name=".Plugins.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".SuaMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateCafe"
            android:exported="false" />
        <activity
            android:name=".ThemMoiMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".XemMonAn"
            android:exported="false" />
        <activity
            android:name=".XemThucDonActivity"
            android:exported="false" />
        <activity
            android:name=".DetailCafe"
            android:exported="false" />
        <activity
            android:name=".AddImageCafe"
            android:exported="false" />
        <activity
            android:name=".AddACafeActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeMnxO_0R8ajx_wjd5y8PDnA75Uw_PLsM" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.quanlychuoicuahangcaphe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>